---
layout: default 
heading: The Yoga Studio
subheading: Welcome to
class: 
- name: Bikram Hot Yoga
  description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat architecto ab repudiandae veniam officiis deleniti!
- name: Mandala Yoga
  description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat architecto ab repudiandae veniam officiis deleniti!
- name: Chakra Flow  
  description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat architecto ab repudiandae veniam officiis deleniti!
- name: Vinyasa Flow
  description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat architecto ab repudiandae veniam officiis deleniti!

---

{% include yoga-squares.html %}

{% include yoga-squares2.html %}

