<div class="absolute flex items-center justify-center w-12 h-12 rounded-full cursor-pointer top-5p right-5p burger-button bg-light">
    <nav class="absolute w-0 overflow-hidden rounded-l-full opacity-0 line-clamp-1 bg-light burger-menu right-6">
      <a href="/classes" class="px-4 py-[12px] inline-block">classes</a>
      <a href="/schedule" class="px-4 py-[12px] inline-block">Schedule</a>
      <a href="/contact" class="px-4 py-[12px] inline-block">contact</a>
    </nav>
    <div class="relative space-y-2 burger-line">
        <div class="w-8 h-0.5 bg-copper"></div>
        <div class="w-8 h-0.5 bg-copper"></div>
        <div class="w-8 h-0.5 bg-copper"></div>
    </div>

 </div>


 <!-- Burger Icon
    <div class="space-y-2">
        <div class="w-8 h-0.5 bg-amber-900"></div>
        <div class="w-8 h-0.5 bg-amber-900"></div>
        <div class="w-8 h-0.5 bg-amber-900"></div>
    </div>
-->