<footer class="p-5p bg-copper text-light">
    <div class="grid max-w-screen-xl mx-auto md:grid-cols-10">
    
    <div class="col-span-5 p-4 sm:col-span-2">
        <h4 class="font-semibold uppercase">Lorem Ipsum</h4>
        <nav>
            <a href="#"> dolor amet </a>
            <a href="#"> consectetur </a>
            <a href="#"> adipisicing </a>
            <a href="#"> Sed do </a>
        </nav>
    </div>

    <div class="col-span-5 p-4 sm:col-span-2">
        <h4 class="font-semibold uppercase">Lorem Ipsum</h4>
        <nav>
            <a href="#"> dolor amet </a>
            <a href="#"> consectetur </a>
            <a href="#"> adipisicing </a>
            <a href="#"> Sed do </a>
        </nav>
    </div>

    <div class="col-span-5 p-4 sm:col-span-2">
        <h4 class="font-semibold uppercase">Lorem Ipsum</h4>
        <nav>
            <a href="#"> dolor amet </a>
            <a href="#"> consectetur </a>
            <a href="#"> adipisicing </a>
            <a href="#"> Sed do </a>
        </nav>
    </div>
    

    <!-- Email Subscribe -->
    <div class="col-span-10 pt-4 md:col-span-3">
        <h4 class="font-semibold text-right uppercase">Subscribe to our Newsletter</h4>
        <form class="py-4">
            <input class="w-[80%] ml-auto block mb-2 bg-transparent border" type="email" class=""></input>
            <input class="block p-2 px-4 mt-4 ml-auto bg-light text-copper" type="submit" value="SUBSCRIBE" class="button"></input>
        </form>
    </div>
    
    </div>
    
</footer>
<div class="-mt-5 border-t bg-copper text-light">
    <p class="py-5 px-28">Terms of Use</P>
</div>